<div class='col-sm-10 col-sm-offset-1'>
  <h4>{{t "Supervisors" key='supervisors'}}</h4>
</div>
<div class='col-sm-5 col-sm-offset-1'>
  <img src={{path 'walkthrough/supervisors.gif'}} style='width: 100%;' />
</div>
<div class='col-sm-5'>
  <p>{{t "In %app_name%, the support team around the communicator are called \"supervisors\". Supervisors are users that are modeling for and working with a communicator. They have their own login, and might be a teacher or a therapist, a parent, a caregiver, etc." key='supervisors_1'}}</p>

  <p>{{t "Supervisors are added to their communicator's account, and can see a communicator's boards on their own devices, so they can get comfortable with a user's vocabulary for better modeling, and can add new buttons and phrases if they have editing permission." key='supervisors_2'}}</p>
</div>

