<div class='col-sm-10 col-sm-offset-1'>
  <h4>{{t "Usage Reports" key='usage_reports'}}</h4>
</div>
<div class='col-sm-5 col-sm-offset-1'>
  <img src={{path 'walkthrough/reports.gif'}} style='width: 100%;' />
</div>
<div class='col-sm-5'>
  <p>{{t "Supervisors can also review a user's communication history. For privacy reasons logs and reports are disabled by default, but if you enable them then the user's supervisors can see how their communication is progressing over time." key='extra_reports_1'}}</p>
  <p>{{t "Reports include information like what words the communicator is using most often, what time of day the device is being used, and even where on the screen they're hitting. This information can help the team stay coordinated and on task." key='extra_reports_2'}}</p>
</div>

