<div class='col-sm-10 col-sm-offset-1'>
  <h4>{{t "Logs and Notes" key='logs_and_notes'}}</h4>
</div>
<div class='col-sm-5 col-sm-offset-1'>
  <img src={{path 'walkthrough/logs.gif'}} style='width: 100%;' />
</div>
<div class='col-sm-5'>
  <p>{{t "In addition to reviewing usage history, supervisors can access detailed reports on each communication session, and can make and share notes with the user's team, so everyone knows what the current strategy is and what is or isn't working well." key='logs_1'}}</p>
</div>
