<div class='col-sm-10 col-sm-offset-1'>
  <h4>{{t "Personalizing Boards" key='personalizing_boards'}}</h4>
</div>
<div class='col-sm-5 col-sm-offset-1'>
  <img src={{path 'walkthrough/set_as_home.gif'}} style='width: 100%;' />
</div>
<div class='col-sm-5'>
  <p>{{t "CoughDrop has a number of different home boards that you can start using right away, or copy and personalize as you go. Some boards have a few large buttons, and some have many small buttons." key='home_boards_1'}}</p>

  <p>{{t "More buttons means more options for expression, but some users are limited in how small a button they can reliably hit (keep in mind you can always hide buttons for now that you want to add later, so a board that looks \"too busy\" may actually be something they can grow into over time)." key='home_boards_2'}}</p>
</div>

