<div class='col-sm-10 col-sm-offset-1'>
  <h4>{{t "Speak Mode" key='speak_mode'}}</h4>
</div>
<div class='col-sm-5 col-sm-offset-1'>
  <img src={{path 'walkthrough/speak_mode.gif'}} style='width: 100%;' />
</div>
<div class='col-sm-5'>
  <p>{{t "Once you've selected a home board you can access it by launching into Speak Mode." key='speak_mode_1'}}</p>

  <p>{{t "When you're in Speak Mode you can hit buttons to have them spoken, and added to the vocalization box at the top. If you hit the vocalization box it'll speak all the buttons that are located there. The backspace and clear buttons can help keep the sentence window clean." key='extra_speak_mode_2'}}</p>
</div>
