<div class='col-sm-10 col-sm-offset-1'>
  <h4>{{t "Picking a Home Board" key='picking_a_home_board'}}</h4>
</div>
<div class='col-sm-5 col-sm-offset-1'>
  <img src={{path 'walkthrough/board_examples.gif'}} style='width: 100%;' />
</div>
<div class='col-sm-5'>
  <p>Each communicator has their own needs and requirements, which means often the vocabulary set they use will be unique to them. With CoughDrop you can pick a vocabulary set to start from (or build your own), and personalize it as much as you like over time.</p>

  <p>The important thing is to plan with the end in mind. If a communicator seems like they'll be able to grow into a large vocabulary, instead of starting with a small number of buttons and adding more over time, it may be easier to start with a large number of buttons and just hide some of the buttons to start out.</p>
</div>