<div class='col-sm-6 col-sm-offset-3'>
  <h4>{{t "Welcome to CoughDrop!" key='welcome_to_coughdrop'}}</h4>
  <img src={{path 'images/logo-big.png'}} style='width: 50px; float: left; margin-right: 10px; margin-bottom: 5px;' />
  <p>{{t "Thanks for signing up for CoughDrop! We're excited you're here and hope CoughDrop makes a difference for you. If you haven't used CoughDrop before, this walkthrough will help you get started, and understand a little more about what CoughDrop is trying to accomplish." key='intro_1'}}</p>
  <p>{{t "We'd like to start by teaching you a little about AAC (Augmentative and Alternative Communication), and then help make sure you've got CoughDrop set up correctly. Hit \"Next\" in the bottom corner to get started." key='intro_2'}}</p>
</div>