<div class='col-sm-10 col-sm-offset-1'>
  <h4>{{t "Using CoughDrop" key='using_coughdrop'}}</h4>
</div>
<div class='col-sm-5 col-sm-offset-1'>
  <img src={{path 'walkthrough/aac_intro.gif'}} style='width: 100%;' />
</div>
<div class='col-sm-5'>
  <p>CoughDrop is a tool for generating speech. You can hit buttons to speak words or sentences, or to spell words.</p>

  <p>CoughDrop isn't just for nonverbal communicators. Some communicators may still be developing, or have trouble only in certain circumstances, and having an AAC "crutch" like CoughDrop can be a valuable support tool.</p>

  <p>Some people worry that communicators who use AAC will never speak on their own. However, recent research has shown that many AAC users move on to vocal communication once they are more comfortable or proficient.</p>
</div>