<div class="modal fade in" style="display: block;" data-uncloseable={{uncloseable}}>
  <div class="modal-dialog">
    {{#touch-listener select='any_select'}}
      <div class={{if auto_close "modal-content auto_close" "modal-content"}}>
        {{yield}}
      </div><!-- /.modal-content -->
    {{/touch-listener}}
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
