<h2>{{t "User Recordings" key='user_recordings'}}</h2>
<div style='white-space: pre'>
- list all recordings
  - can edit transcription inline
  - can listen inline
  - can delete
- filter to matching recordings
- big message banking message and button
  - navigate through different categories of messages
  - list of the ones already recorded (match by transcription, how fuzzy to get?)
  - can click one to record it directly
  - can click to add other messages in the same category (should remember category when saving)
  - custom tags?
- batch upload option (lots of wav files, or a zip with json from tobii)
- bulk download option
- when you add sound to a button, set the label to the transcription if no label defined
- when recording a sound for a button, include dropdown to choose whose account the sound should be tied to
- option to hit spacebar to start/stop recording more quietly
- batch-recording based on phrases already programmed into buttons
-
</div>