<div class="modal fade in" style="display: block;" data-uncloseable={{uncloseable}}>
  <div class="modal-dialog" style='width: calc(100vw - 40px); margin: calc(15vh + 20px) auto 20px;'>
    <div class="modal-content" style='height: calc(70vh - 40px); overflow: hidden;'>
      <div class="modal-header">
        <button type="button" class="close" {{action 'close'}}>&times;</button>
        <h3>{{t "Board Details" key='board_details'}}
        </h3>
      </div>
      <div class="modal-body" style='height: 100%; overflow: auto; padding-bottom: 60px;'>
        {{board-preview key=model.board.key option=model.option action='select'}}
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


