<div class='row' style='margin-bottom: 60px; margin-top: 0px;'>
  {{partial partial}}
</div>
<div style='white-space: pre-wrap; display: none;'>
  additional preferences:
  - background color
  - button spacing
  - skip settings pages if not logged in
</div>
