<div class='row' style='margin-bottom: 60px; margin-top: 20px;'>
  {{partial partial}}
</div>
<div style='white-space: pre-wrap;'>
  additional preferences:
  - speak on every button hit, or only on sentence window
  - background color
  - button spacing
  - skip settings pages if not logged in
</div>
