<div class='row' id="setup_container" style={{if no_scroll 'margin-bottom: 0;'}}>
  {{partial partial}}
</div>
<div style='white-space: pre-wrap; display: none;'>
  additional preferences:
  - background color
  - button spacing
  - skip settings pages if not logged in
</div>
