<div id='small_header'><%= render 'shared/static_header' %></div>
<div id="content" style="width: 400px; margin: 50px auto 0 auto;">
      <div style="margin: 20px;">
        <% if params['error'] %>
          <h2>Authorization Failed</h2>
          <p>The application requesting authorization
           should automatically handle
          the following message, <pre><%= params['error'] %></pre>
          </p>
        <% else %>
          <h2>Authorization Success</h2>
          <p>The application requesting authorization 
          should automatically handle
          processing the success code, <pre><%= params['code'] %></pre>
          </p>
        <% end %>
      </div>
</div>
<script>
  <% hash = {:type => "oauth_status", :code => params['code'], :error => params['error']} %>
  window.parent.postMessage(<%= hash.to_json.html_safe %>, '*');
</script>