<header class="row">
  <span id="nav_header">
    <h1>
      <a href="/">
        <img alt="<%= app_name %>" src="<%= (@domain_overrides['settings'] || {})['logo_url'] || "/images/logo-big.png" %>">
        <span>
          <%= app_name.upcase %>
        </span>
      </a>
    </h1>
</header>