<header class="row">
  <span id="nav_header">
    <h1>
      <a href="/">
        <img alt="CoughDrop" src="<%= (@domain_overrides['settings'] || {})['logo_url'] || "/images/logo-big.png" %>">
        <span>
          <%= (@domain_overrides['settings'] || {})['app_name'] || "COUGHDROP" %>
        </span>
      </a>
    </h1>
</header>