This message is to confirm that your CoughDrop account ("<%= @user.user_name %>")
has been deleted. If this was an error you can 
<a href="<%= JsonApi::Json.current_host %>/login">log in</a> within
the next 24 hours to recover the account, otherwise it will be deleted
forever.<br/><br/>

We are grateful to you for giving CoughDrop a try. If we can answer
any questions for you please feel free to 
<a href="<%= JsonApi::Json.current_host %>/contact">contact us</a>
and we'll be happy to work with you.<br/><br/>

Thanks!<br/>
-The CoughDrop Team


