@import 'color_scheme';

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

@font-face{
  font-family:'OpenDyslexic';
  src:url(../fonts/OpenDyslexicAlta-Regular.otf) format('opentype');
}
@font-face{
  font-family:'ArchitectsDaughter';
  src:url(../fonts/ArchitectsDaughter.ttf) format('truetype');
}

#within_ember {
  position: relative;
  background: $background-white;
  overflow: hidden; /* Windows-only quirk causes extra scrollbars without this, if you 
                      change, make sure to test sidebar and modal.highlight */
}
#within_ember.dim_sides {
  header #speak, header #identity_button {
    opacity: 0.7;
  }
  #sidebar > * {
    opacity: 0.7;
  }
}
#within_ember.color_black {
  background: #000;
  header {
    background: #000;
    border-bottom-color: #444;
  }
  #sidebar {
    background: #000;
    border-left-color: #444;
    border-bottom-color: #444;
  }
  .board_status {
    color: #ccc;
  }
}
#board_bg {
  display: flex;
  flex-direction: column;
  background: $background-medium; 
  box-shadow: 5px 5px 10px $background-medium, -5px -5px 10px $background-medium, -5px 5px 10px $background-medium, 5px -5px 10px $background-medium;
  img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
  }
}
