header {
  border-bottom: 1px solid #eee;
  white-space: nowrap;
  height: 70px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  background: #fff;
  
  + #content {
    margin-top: 70px;
    + #sidebar, + #sidebar_tease {
      margin-top: 70px;
    }
  }
  &.new_index {
    box-shadow: 0px 2px 10px -5px #444;
    &.speaking {
      box-shadow: none;
    }
  }
  .button_icon {
    font-size: 25px;
  }
  .btn {
    height: 65px;
    &.access {
      padding-left: 18px;
      padding-right: 18px;
      &.skinnier {
        padding-left: 10px;
        padding-right: 10px;
        img {
          width: 25px;
        }
      }
    }
  }
  #speak_mode_notification {

  }
  #button_list {
    height: 63px;
    min-width: 100px;
    width: -webkit-calc(100% - 174px); 
    width: calc(100% - 174px); 
    &.with_back {
      width: -webkit-calc(100% - 225px); 
      width: calc(100% - 225px); 
    }
    padding-right: 50px;
    &.has_content.flipped {
      padding-left: 60px;
      transform: rotate(180deg);
      padding-right: 0;
    }
    .history_button {
      max-width: 60px; 
      height: 60px; 
      margin: 0px 10px 1px;
      padding-top: 3px;
      .modeling {
        position: absolute;
        top: 10px;
        left: 0;
        background: #fff;
        width: 20px;
        height: 20px;
        border-radius: 10px;
      }
      img {
        height: 42px; 
        max-width: 60px;
      }
    }
    .utterance_cursor {
      .left, .right {
        margin-top: 5px;
        height: calc(100% - 10px);
      }
    }
    &.text_only .utterance_cursor {
      .left, .right {
        margin-top: 0;
      }
    }
    &.text_only.text_medium .utterance_cursor {
      margin: 0 3px 0 0;
      .left, .right {
        height: 15px;
      }
    }
    &.text_only.text_small .utterance_cursor {
      margin: 0 3px 0 0;
      .left, .right {
        height: 13px;
      }
    }
    &.text_only.text_large .utterance_cursor {
      margin: 0 5px 0 0;
      .left, .right {
        height: 23px;
      }
    }
    &.text_only.text_huge .utterance_cursor {
      margin: 0 7px 0 0;
      .left, .right {
        height: 37px;
      }
    }
    &.text_only .history_button img{
      margin-top: -24px;
    }
  }
  #blank_status {
    text-align: left; 
    padding-top: 5px; 
    padding-left: 10px; 
    font-size: 16px; 
    opacity: 1.0;
    height: 55px;
    overflow: hidden;
    .progress {
      width: 50px;
      text-align: center;
      margin: 0;
    }
    .eye_status {
      display: block;
      color: #444;
      margin-top: -40px;
      margin-left: 70px;
      font-size: 40px;
      &.text-muted {
        color: #ddd;
      }
    }
  }
  #speak {
    width: -webkit-calc(100% - 62px);
    width: calc(100% - 62px);
  }
  #speak_options {
    height: 40px; 
  }
  &.speaking {
    #identity .btn {
      width: 58px;
      .user_holder {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: -12px 0 -10px -30px;
      }
      img.user {
        width: 40px;
      }
      img.modeling_user {
        height: 25px;
        width: 25px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-radius: 50px;
        position: absolute;
        margin: 13px 0 0 -41px;
        background: #fff;
      }
    }
    &.small {
      #button_list {
        .history_button {
          .modeling {
            top: 4px;
            left: -3px;
          }
        }
      }
      #speak_mode_notification {
        > span {
          top: 17px;
        }
        .badge_earned {
          img {
            height: 40px; 
            width: 40px; 
          }
        }
      }
    }
    &.tiny {
      height: 50px;
      + #content {
        margin-top: 50px;
        + #sidebar, + #sidebar_tease {
          margin-top: 50px;
        }
      }
      #button_list {
        height: 43px;
        width: -webkit-calc(100% - 136px); 
        width: calc(100% - 136px); 
        &.with_back {
          width: -webkit-calc(100% - 177px); 
          width: calc(100% - 177px); 
        }
        .history_button {
          &.utterance_cursor {
            margin: 5px 0 -4px;
          }
          max-width: 30px; 
          height: 40px; 
          font-size: 11px;
          margin: 0px 7px 1px;
          padding-top: 2px;
          img {
            height: 26px; 
            max-width: 30px;
          }
          .modeling {
            top: 3px;
            width: 13px;
            height: 13px;
            font-size: 10px;
          }
        }
        &.text_only .history_button img{
          margin-top: -16px;
        }
      }
      #blank_status {
        font-size: 12px;
        height: 40px;
        .progress {
          width: 40px;
          height: 15px;
          font-size: 10px;
          .progress-bar {
            font-size: 10px;
          }
        }
        .eye_status {
          font-size: 30px;
          margin-top: -33px;
          margin-left: 55px;
        }
      }
      #identity .btn {
        width: 38px;
        padding-right: 12px;
        .unread {
          left: 3px; 
          top: 26px; 
        }
        .caret {
          margin-top: -15px;
        }
        .user_holder {
          height: 30px; 
          width: 30px;
          margin: -30px -3px -10px -30px;
        }
        img.user {
          width: 30px;
          margin-top: -20px;
        }
        img.modeling_user {
          height: 20px;
          width: 20px;
          margin: 0 0 0 -29px;
        }
      }
      #speak {
        width: -webkit-calc(100% - 47px);
        width: calc(100% - 47px);
      }
      #speak_options {
        height: 30px; 
      }
      #speak_mode_notification {
        > span {
          top: 6px;
        }
        .badge_earned {
          img {
            height: 30px; 
            width: 30px; 
          }
        }
                
      }
      .button_icon {
        font-size: 15px;
      }
      .btn {
        height: 45px;
        &.access {
          padding-left: 15px;
          padding-right: 15px;
          &.skinnier {
            padding-left: 10px;
            padding-right: 10px;
            img {
              width: 15px;
            }
          }
        }
      }
    }
    &.medium {
      height: 100px;
      + #content {
        margin-top: 100px;
        + #sidebar, + #sidebar_tease {
          margin-top: 100px;
        }
      }
      #button_list {
        height: 93px;
        width: -webkit-calc(100% - 242px); 
        width: calc(100% - 242px); 
        &.with_back {
          width: -webkit-calc(100% - 323px); 
          width: calc(100% - 323px); 
        }
        .history_button {
          max-width: 90px; 
          height: 88px; 
          font-size: 15px;
          margin: 0px 15px 2px;
          padding-top: 10px;
          img {
            height: 55px; 
            max-width: 90px;
          }
        }
        &.text_only .history_button {
          margin-left: 0;
          margin-right: 0;
        }
        &.text_only .history_button img{
          margin-top: -31px;
        }
      }
      #blank_status {
        font-size: 18px;
        .progress {
          width: 60px;
          font-size: 16px;
        }
        .eye_status {
          margin-left: 80px;
        }
      }
      #identity .btn {
        width: 78px;
        .unread {
          left: 10px; 
          top: 70px; 
        }
        .user_holder {
          height: 60px; 
          width: 60px;
          margin: -3px 0 -10px -30px;
        }
        img.user {
          width: 60px;
        }
        img.modeling_user {
          height: 30px;
          width: 30px;
          margin: 32px 0 0 -60px;
        }
      }
      #speak {
        width: -webkit-calc(100% - 81px);
        width: calc(100% - 81px);
      }
      #speak_options {
        height: 50px; 
      }
      .button_icon {
        font-size: 45px;
      }
      .btn {
        height: 95px;
        &.access {
          padding-left: 20px;
          padding-right: 20px;
          &.skinnier {
            padding-left: 15px;
            padding-right: 15px;
            img {
              width: 30px;
            }
          }
        }
      }
    }
    &.large {
      height: 150px;
      + #content {
        margin-top: 150px;
        + #sidebar, + #sidebar_tease {
          margin-top: 150px;
        }
      }
      #button_list {
        height: 143px;
        width: -webkit-calc(100% - 396px); 
        width: calc(100% - 396px); 
        padding-right: 65px;
        &.has_content.flipped {
          padding-left: 75px;
          transform: rotate(180deg);
          padding-right: 0
        }
        &.with_back {
          width: -webkit-calc(100% - 517px); 
          width: calc(100% - 517px); 
        }
        .history_button {
          max-width: 140px; 
          height: 138px; 
          font-size: 20px;
          margin: 0px 15px 2px;
          padding-top: 10px;
          img {
            height: 100px; 
            max-width: 140px;
          }
        }
        &.text_only .history_button {
          margin-left: 0;
          margin-right: 0;
        }
        &.text_only .history_button img{
          margin-top: -53px;
        }
      }
      #blank_status {
        font-size: 22px;
        .progress {
          width: 70px;
          > .glyphicon {
            font-size: 16px;
            vertical-align: top;
            line-height: 18px;
          }
          
        }
        .eye_status {
          margin-left: 90px;
        }
      }
      #identity .btn {
        width: 98px;
        .unread {
          left: 10px; 
          top: 105px; 
        }
        .user_holder {
          height: 80px; 
          width: 80px;
          margin: 15px 0 -10px -30px;
        }
        img.user {
          width: 80px;
        }
        img.modeling_user {
          height: 40px;
          width: 40px;
          margin: 62px 0 0 -80px;
        }
      }
      #speak {
        width: -webkit-calc(100% - 102px);
        width: calc(100% - 102px);
      }
      #speak_options {
        width: 55px;
        margin-left: -70px;
        height: 80px; 
      }
      #speak_mode_notification {
        width: 100px;
        margin-right: 76px;
        margin-left: -179px;
      }
      .button_icon {
        font-size: 65px;
      }
      .btn {
        height: 145px;
        &.access {
          padding-left: 40px;
          padding-right: 40px;
          &.skinnier {
            padding-left: 25px;
            padding-right: 25px;
            img {
              width: 46px;
            }
          }
        }
      }
    }
    &.huge {
      height: 200px;
      + #content {
        margin-top: 200px;
        + #sidebar, + #sidebar_tease {
          margin-top: 200px;
        }
      }
      #button_list {
        height: 193px;
        width: -webkit-calc(100% - 520px); 
        width: calc(100% - 520px); 
        &.with_back {
          width: -webkit-calc(100% - 670px); 
          width: calc(100% - 670px); 
        }
        padding-right: 85px;
        &.has_content.flipped {
          padding-left: 95px;
          transform: rotate(180deg);
          padding-right: 0
        }
        .history_button {
          max-width: 190px; 
          height: 188px; 
          font-size: 20px;
          margin: 0px 15px 2px;
          padding-top: 20px;
          img {
            height: 120px; 
            max-width: 140px;
          }
        }
        &.text_only .history_button {
          margin-left: 0;
          margin-right: 0;
        }
        &.text_only .history_button img{
          margin-top: -63px;
        }
      }
      #blank_status {
        font-size: 26px;
        height: 70px;
        .progress {
          width: 85px;
          height: 25px;
          font-size: 20px;
          .progress-bar {
            font-size: 16px;
            line-height: 28px;
          }
        }
        .eye_status {
          margin-left: 100px;
        }
      }
      #identity .btn {
        width: 98px;
        .unread {
          left: 10px; 
          top: 125px; 
        }
        .user_holder {
          height: 80px; 
          width: 80px;
          margin: 35px 0 -10px -30px;
        }
        img.user {
          width: 80px;
        }
        img.modeling_user {
          height: 40px;
          width: 40px;
          margin: 80px 0 0 -80px;
        }
      }
      #speak {
        width: -webkit-calc(100% - 102px);
        width: calc(100% - 102px);
      }
      #speak_options {
        height: 120px; 
        margin-left: -90px;
        width: 75px;
      }
      #speak_mode_notification {
        width: 100px;
        margin-right: 96px;
        margin-left: -200px;
      }
      .button_icon {
        font-size: 65px;
      }
      .btn {
        height: 195px;
        &.access {
          padding-left: 60px;
          padding-right: 60px;
          &.skinnier {
            padding-left: 40px;
            padding-right: 40px;
            img {
              width: 60px;
            }
          }
        }
      }
    }
  }
}
#small_header header {
  height: 50px;
  h1 {
    img {
      padding-top: 0;
      height: 40px;
      width: 40px;
      margin-right: 5px;
      position: absolute;
    }
    span {
      line-height: 40px;
      margin-left: 50px;
    }
  }
}

@media print {
  header {
    position: absolute;
    display: none;
    height: 0;
  }
}