@import 'color_scheme';

header {
  border-bottom: 1px solid $border-light;
  white-space: nowrap;
  height: 70px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  background: $background-white;
  
  + #content {
    margin-top: 70px;
    + #sidebar, + #sidebar_tease {
      margin-top: 70px;
    }
  }
  &.new_index {
    box-shadow: 0px 2px 10px -5px $text-medium;
    &.speaking {
      box-shadow: none;
    }
  }
  .button_icon {
    font-size: 25px;
  }
  .btn {
    height: 65px;
    &.access {
      padding-left: 18px;
      padding-right: 18px;
      &.skinnier {
        padding-left: 10px;
        padding-right: 10px;
        img {
          width: 25px;
        }
      }
    }
  }
  #speak_mode_notification {

  }
  #button_list {
    height: 63px;
    min-width: 100px;
    width: -webkit-calc(100% - 174px); 
    width: calc(100% - 174px); 
    &.with_back {
      width: -webkit-calc(100% - 225px); 
      width: calc(100% - 225px); 
    }
    padding-right: 50px;
    &.has_content.flipped {
      padding-left: 60px;
      transform: rotate(180deg);
      padding-right: 0;
    }
    .history_button {
      max-width: 60px; 
      height: 60px; 
      margin: 0px 10px 1px;
      padding-top: 3px;
      .modeling {
        position: absolute;
        top: 10px;
        left: 0;
        background: $background-white;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        z-index: 2;
      }
      img {
        height: 42px; 
        max-width: 60px;
      }
    }
    .utterance_cursor {
      .left, .right {
        margin-top: 5px;
        height: calc(100% - 10px);
      }
    }
    &.text_only .utterance_cursor {
      .left, .right {
        margin-top: 0;
      }
    }
    &.text_only.text_medium .utterance_cursor {
      margin: 0 3px 0 0;
      .left, .right {
        height: 15px;
      }
    }
    &.text_only.text_small .utterance_cursor {
      margin: 0 3px 0 0;
      .left, .right {
        height: 13px;
      }
    }
    &.text_only.text_large .utterance_cursor {
      margin: 0 5px 0 0;
      .left, .right {
        height: 23px;
      }
    }
    &.text_only.text_huge .utterance_cursor {
      margin: 0 7px 0 0;
      .left, .right {
        height: 37px;
      }
    }
    &.text_only .history_button img{
      margin-top: -24px;
    }
  }
  #blank_status {
    text-align: left; 
    padding-top: 5px; 
    padding-left: 10px; 
    font-size: 16px; 
    opacity: 1.0;
    height: 55px;
    overflow: hidden;
    .progress {
      width: 50px;
      text-align: center;
      margin: 0;
    }
    .eye_status {
      display: block;
      color: $text-medium;
      margin-top: -40px;
      margin-left: 70px;
      font-size: 40px;
      &.text-muted {
        color: $border-light;
      }
    }
  }
  #speak {
    width: -webkit-calc(100% - 62px);
    width: calc(100% - 62px);
  }
  #speak_options {
    height: 40px; 
  }
  &.speaking {
    #identity .btn {
      width: 58px;
      .user_holder {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: -12px 0 -10px -30px;
      }
      img.user {
        width: 40px;
      }
      img.modeling_user {
        height: 25px;
        width: 25px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-radius: 50px;
        position: absolute;
        margin: 13px 0 0 -41px;
        background: $background-white;
      }
    }
  }
}
